*{
    padding:0px;
    margin:0px;
    font-family:sans-serif;
}
.sell-intro-txt{
    text-align:center;
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.jumbotron{
    height:85vh;
     background-image: url('../Images/sell-house.jpg');
     background-repeat:no-repeat;
     background-position:center;
     background-size:cover;
     color:#f2f2f2;
}
.link-bnt{
    border:solid 1px #4744db;
    padding:10px;
}
.link-bnt:hover{
    text-decoration:none;
}
.box{
      box-shadow: 2px 2px 9px 0px #dadada;
      padding:25px;
}
.sale-command{
    padding:50px;
}
.address-box {
    padding:5px;
}
.sell-box{
    padding:50px;
    margin-bottom:20px;
     box-shadow: 2px 2px 9px 0px #dadada;
}
li{
    list-style:none;
}
#logo {
    height: 150px;
    width: 150px;
}

.footer-txt {
    font-size: 45px;
}

.footer-box {
    padding: 10px 0 50px 0;
}
