*{
    padding:0px;
    margin:0px;
}
.sell-intro-txt{
    text-align:center;
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.jumbotron{
    position: relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);

}
