*{
    margin:0px;
    padding:0px;
    font-family:sans-serif;
}
.jumbotron{
    height:75vh;
        background-image:url('https://i.pinimg.com/originals/07/00/b5/0700b59b0a405697a65f09fb414e75fe.jpg');
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center;
        color:#f2f2f2;
}
.hero-txt{
       position: relative;
       top:50%;
       left:50%;
       transform:translate(-50%,-50%);
       text-align: center;
}

.service-list li{
    padding:20px 0 20px 0px;

}
 .service-list {
     padding-top: 20px;
 }
.service-list li:hover{
    cursor: pointer;
    color:#593aca;
}
.service-tl{
    border-bottom:solid 1px #b9b9b9;
}

ul {
    margin: 0px;
    padding: 0px;
}

.Logo {
    flex: 1;
}

#logo {
    height: 150px;
    width: 150px;
}

.footer-txt {
    font-size: 45px;
}

.footer-box {
    padding: 10px 0 50px 0;
}
 .footer-list{
     list-style:none;
 } 
 footer{
    margin-top:25px;
 }
@media screen and (max-width:576px){
    .service-list {
        padding-left: 10px;
    }
}