<!DOCTYPE html>
<html lang="en"ng-app = "App">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
     <link href="https://fonts.googleapis.com/css?family=Istok+Web|Poiret+One&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel = "stylesheet"href ="main.css"> 

    <title>Document</title>
</head>
    <body ng-controller = "main-controller">
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
             <a class="navbar-brand" href="#">
                 <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSqsQCj_2G5eLQzZGSVh8zQ1byes4oHWPp5An9Ny9S5cqPjVrO"
                     alt="Logo" style="width:40px;">
             </a>
             <a class="navbar-brand" href="index.html">Triliio</a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
             </button>

             <div class="collapse navbar-collapse" id="navbarSupportedContent">
                 <ul class="navbar-nav mr-auto">
                    
                     
                     <li class="nav-item">
                         <a class="nav-link" href="#">Find Property</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="#">Sell</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="#">Buy</a>
                     </li>
                     
                     <li class="nav-item">
                         <a class="nav-link" href="#">Find An Agent</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="#">Home Loans</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="#">Services</a>
                     </li>
                    <li class="nav-item">
                         <a class="nav-link" href="#">About Us</a>
                    </li>
                 </ul>
    <div class = "right-items">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log in</button>
        <span><button class="btn btn-success my-2 my-sm-0"style = "margin-left:10px;">Sign up</button></span>
                  
            </div>
        </div>
    </nav>
    <div class = "container-fluid filter-options">
        <div class = "row">
            <div class = "col-md-4">
                <select>
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="opel">Opel</option>
                    <option value="audi">Audi</option>
                </select>
                <select>
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="opel">Opel</option>
                    <option value="audi">Audi</option>
                </select>

            </div>
            <div class="col-md-8">
                <select>
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="opel">Opel</option>
                    <option value="audi">Audi</option>
                </select>
                <select>
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="opel">Opel</option>
                    <option value="audi">Audi</option>
                </select>
                <select>
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="opel">Opel</option>
                    <option value="audi">Audi</option>
                </select>
                <select>
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="opel">Opel</option>
                    <option value="audi">Audi</option>
                </select>
            </div>
        </div>
    </div>

<div class = "container">  
    <div class = "row">
        <div class = "col-lg-3 col-md-4 col-sm-6"style = "margin:50px 0 50px 0px;" ng-repeat = "list in data">
            <div class = 'card-box'>
            <div class = "img-box">
                <img ng-src = "{{list.image}}.jpg">
            </div>
        <div class = "content">
             <button class="btn btn-xs btn-danger"
              ng-show="showDetails === true"
              ng-click="showDetails = !showDetails">
              Close
             </button>
             <div class="initital-info" ng-hide="showDetails === true">
                 <h5><strong>{{list.price | currency }}</strong></h5>
                 <p>{{list.address}}</p>
             </div>
            
                <div class="Details" ng-show="showDetails === true">
                    
                <span>Beds: {{list.details.bedrooms}}</span>
                <span>Baths: {{list.details.bathrooms}}</span>
                <span>Sqft: {{list.details.squareFt}}</span><br>
                <p>Grerat Place to Live</p>
                
                
                </div>
               
                   <button class="btn btn-xs btn-success"
                    ng-hide="showDetails === true"
                    ng-click="showDetails = !showDetails">
                  
                   Details</button>
                   </div>
            </div>
        </div>
    </div>
</div>
<nav aria-label="Page navigation"style = "margin:30px;">
    <ul class="pagination pagination-md justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>
    <script src = "Module.js"></script>
    <script src = "Controller.js"></script>
    <script src = "Factory.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>