body{
    background-color:#faf8f8;
}
.img-box{
    height:65%;
    width:100%;
}
img{
    height:100%;
     width:100%;
}
.content{
    background-color:white;
    padding:10px;
    box-shadow: 2px 2px 9px 0px #dadada;
}
